%% ex: ft=erlang
[
    {scribester, [
      {scribester_server, "<xmpp server here>"},
      {scribester_username, "<username here>"},
      {scribester_password, "<password here>"},
      {scribester_resource, "scribester_resource"},
      {scribester_monitored_rooms, ["<monitored room here>"]}
    ]}
].
