%% ex: ft=erlang
[
    {scribester, [
      {scribester_server, "<xmpp server here>"},
      {scribester_username, "<username here>"},
      {scribester_password, "<password here>"},
      {scribester_monitored_rooms, ["<monitored room here>"]},

      %% {scribester_resource, "scribester_resource"},
      %% {scribester_timezone, "GMT"},
      %% {scribester_timeformat, "Y-m-d:H:i:s"},

      %% {scribester_listeners,
      %%     [scribester_text_storage_listener,
      %%      scribester_simple_message_listener]},

      %% {scribester_text_storage_logdir,
      %%     "<path to log dir>"},

      %% {scribester_frontend_enable, true},
      %% {scribester_frontend_ip, "0.0.0.0"},
      %% {scribester_frontend_port, 8080},
      %% {scribester_frontend_options, []}
    ]}
].
