%% -*- mode: erlang -*-
%% ex: ft=erlang

{cover_enabled, true}.
{clean_files, ["*.eunit", "ebin/*.beam"]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{deps,
 [
  {exmpp,   ".*", {git, "https://github.com/Zert/exmpp.git",        "fbfd818"}},
  {iso8601, ".*", {git, "https://github.com/erlsci/iso8601.git",    "50ce02c"}},
  {qdate,   ".*", {git, "https://github.com/choptastic/qdate.git",  "2dfcc52"}}
 ]}.
